<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SendSoap" />
                <binding name="ReceiveSoap" />
                <binding name="UsersSoap" />
                <binding name="VoiceSoap" />
                <binding name="ContactsSoap" />
                <binding name="ActionsSoap" />
                <binding name="ScheduleSoap" />
                <binding name="SmartSmsSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SmartSmsSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SmartSmsSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://api.payamak-panel.com/post/send.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendSoap"
                contract="SendServiceReference.SendSoap" name="SendSoap" />
            <endpoint address="http://api.payamak-panel.com/post/receive.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReceiveSoap"
                contract="ReceiveServiceReference.ReceiveSoap" name="ReceiveSoap" />
            <endpoint address="http://api.payamak-panel.com/post/Users.asmx"
                binding="basicHttpBinding" bindingConfiguration="UsersSoap"
                contract="UsersServiceReference.UsersSoap" name="UsersSoap" />
            <endpoint address="http://api.payamak-panel.com/post/Voice.asmx"
                binding="basicHttpBinding" bindingConfiguration="VoiceSoap"
                contract="VoiceServiceReference.VoiceSoap" name="VoiceSoap" />
            <endpoint address="http://api.payamak-panel.com/post/contacts.asmx"
                binding="basicHttpBinding" bindingConfiguration="ContactsSoap"
                contract="ContactsServiceReference.ContactsSoap" name="ContactsSoap" />
            <endpoint address="http://api.payamak-panel.com/post/actions.asmx"
                binding="basicHttpBinding" bindingConfiguration="ActionsSoap"
                contract="ActionsServiceReference.ActionsSoap" name="ActionsSoap" />
            <endpoint address="http://api.payamak-panel.com/post/Schedule.asmx"
                binding="basicHttpBinding" bindingConfiguration="ScheduleSoap"
                contract="ScheduleServiceReference.ScheduleSoap" name="ScheduleSoap" />
            <endpoint address="https://api.payamak-panel.com/post/Smartsms.asmx"
                binding="basicHttpBinding" bindingConfiguration="SmartSmsSoap"
                contract="SmartServiceReference.SmartSmsSoap" name="SmartSmsSoap" />
            <endpoint address="https://api.payamak-panel.com/post/Smartsms.asmx"
                binding="customBinding" bindingConfiguration="SmartSmsSoap12"
                contract="SmartServiceReference.SmartSmsSoap" name="SmartSmsSoap12" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>