<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SendSoap" />
                <binding name="ReceiveSoap" />
                <binding name="UsersSoap" />
                <binding name="VoiceSoap" />
                <binding name="ContactsSoap" />
                <binding name="ActionsSoap" />
                <binding name="ScheduleSoap" />
            </basicHttpBinding>
            <!--<customBinding>
                <binding name="SendSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ReceiveSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="UsersSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="VoiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ContactsSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ActionsSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ScheduleSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>-->
        </bindings>
        <client>
            <endpoint address="http://api.payamak-panel.com/post/send.asmx" binding="basicHttpBinding" bindingConfiguration="SendSoap" contract="SendServiceReference.SendSoap" name="SendSoap" />
            <!--<endpoint address="http://api.payamak-panel.com/post/send.asmx"
                binding="customBinding" bindingConfiguration="SendSoap12"
                contract="SendServiceReference.SendSoap" name="SendSoap12" />-->
            <endpoint address="http://api.payamak-panel.com/post/receive.asmx" binding="basicHttpBinding" bindingConfiguration="ReceiveSoap" contract="ReceiveServiceReference.ReceiveSoap" name="ReceiveSoap" />
            <!--<endpoint address="http://api.payamak-panel.com/post/receive.asmx"
                binding="customBinding" bindingConfiguration="ReceiveSoap12"
                contract="ReceiveServiceReference.ReceiveSoap" name="ReceiveSoap12" />-->
            <endpoint address="http://api.payamak-panel.com/post/Users.asmx" binding="basicHttpBinding" bindingConfiguration="UsersSoap" contract="UsersServiceReference.UsersSoap" name="UsersSoap" />
            <!--<endpoint address="http://api.payamak-panel.com/post/Users.asmx"
                binding="customBinding" bindingConfiguration="UsersSoap12"
                contract="UsersServiceReference.UsersSoap" name="UsersSoap12" />-->
            <endpoint address="http://api.payamak-panel.com/post/Voice.asmx" binding="basicHttpBinding" bindingConfiguration="VoiceSoap" contract="VoiceServiceReference.VoiceSoap" name="VoiceSoap" />
            <!--<endpoint address="http://api.payamak-panel.com/post/Voice.asmx"
                binding="customBinding" bindingConfiguration="VoiceSoap12"
                contract="VoiceServiceReference.VoiceSoap" name="VoiceSoap12" />-->
            <endpoint address="http://api.payamak-panel.com/post/contacts.asmx" binding="basicHttpBinding" bindingConfiguration="ContactsSoap" contract="ContactsServiceReference.ContactsSoap" name="ContactsSoap" />
            <!--<endpoint address="http://api.payamak-panel.com/post/contacts.asmx"
                binding="customBinding" bindingConfiguration="ContactsSoap12"
                contract="ContactsServiceReference.ContactsSoap" name="ContactsSoap12" />-->
            <endpoint address="http://api.payamak-panel.com/post/actions.asmx" binding="basicHttpBinding" bindingConfiguration="ActionsSoap" contract="ActionsServiceReference.ActionsSoap" name="ActionsSoap" />
            <!--<endpoint address="http://api.payamak-panel.com/post/actions.asmx"
                binding="customBinding" bindingConfiguration="ActionsSoap12"
                contract="ActionsServiceReference.ActionsSoap" name="ActionsSoap12" />-->
            <endpoint address="http://api.payamak-panel.com/post/Schedule.asmx" binding="basicHttpBinding" bindingConfiguration="ScheduleSoap" contract="ScheduleServiceReference.ScheduleSoap" name="ScheduleSoap" />
            <!--<endpoint address="http://api.payamak-panel.com/post/Schedule.asmx"
                binding="customBinding" bindingConfiguration="ScheduleSoap12"
                contract="ScheduleServiceReference.ScheduleSoap" name="ScheduleSoap12" />-->
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>